<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218305711511-5dv8t4ntfcn86jva22b37lapbvli7c2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218305711511-5dv8t4ntfcn86jva22b37lapbvli7c2f</string>
	<key>API_KEY</key>
	<string>AIzaSyCBdr-jeiFI9Yu2ByDpflurfMISGDGNeeM</string>
	<key>GCM_SENDER_ID</key>
	<string>218305711511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theTestNarutoArena</string>
	<key>PROJECT_ID</key>
	<string>narutoarena-c6ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>narutoarena-c6ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218305711511:ios:98b594c57610a539f288d2</string>
</dict>
</plist>